<%= form_for(@estudante) do |f| %>
  <% if @estudante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudante.errors.count, "error") %> prohibited this estudante from being saved:</h2>

      <ul>
      <% @estudante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
